@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-font: "poppins", "sans serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: wrap;
}

.logo img {
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #e0e6da;
    transition: all 0.3s ease;
    padding: 0px 140px;
    font-family: var(--main-font);
    position: relative;
    z-index: 1000;
}

nav ul {
    display: flex;
    transition: all 0.3s ease;
}

nav ul li {
    margin: 0px 18px;
    list-style-type: none;
    transition: all 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
}

nav .ist-ul li a {
    color: black;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 400;
    transition: all 0.4s ease;
    letter-spacing: 1px;
}

nav .ist-ul li a:hover,
nav .ist-ul li a.active {
    color: rgb(209, 145, 6);
}

.icons ul li a i {
    color: black;
    font-size: 23px;
    transition: all 0.3s ease;
}

#click {
    display: none;
}

.menu-btn i {
    font-size: 25px;
}

.menu-btn {
    visibility: hidden;
    cursor: pointer;
    padding: 4px 13px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: rgba(131, 130, 130, 0.16) 0px 1px 4px;
}

@media only screen and (max-width:900px) {
    .menu-btn {
        visibility: visible;
        position: absolute;
        right: 30px;
    }

    .logo {
        padding-left: 30px;
        box-sizing: border-box;
    }

    .logo img {
        height: 20px;
    }

    nav .ist-ul {
        display: none;
        position: absolute;
        top: 85px;
        min-height: 60vh;
        background-color: #e0e6da;
        width: 100%;
        transition: all 0.3s ease;
        border-radius: 4px;
    }

    nav {
        padding: 0px;
        transition: all 0.3s ease;
    }

    nav .ist-ul li {
        margin: 20px 0px;
        padding: 0px 40px;
        box-sizing: border-box;
    }

    nav .second-ul {
        position: absolute;
        top: 335px;
        left: 15px;
        height: auto;
        width: auto;
    }

    nav .second-ul li {
        margin: 0px 15px;
    }

    .icons {
        display: none;
        transition: all 0.3s ease;
    }

    nav ul li a:hover {
        color: rgb(155, 111, 15);
    }

    .icons ul li a i {
        font-size: 23px;
    }

    #click:checked~.ist-ul {
        display: block;
    }

    #click:checked~.icons {
        display: block;
    }
}

main {
    min-height: 50vh;
    width: 100%;
    background-image: url(/project-2/assets/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--main-font);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: start;
    transition: all 0.3s ease;
    padding: 80px 100px 0px 150px;
    gap: 20px;
}

.box {
    width: 700px;
    height: 70vh;
    border: none;
    box-sizing: border-box;
}

.bold {
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.summary {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: var(--main-font);
}

.btn {
    padding: 12px 40px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    margin-top: 40px;
    background: #fcce2d;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    text-align: center;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.btn-2 {
    background-color: black;
    color: #fff;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.btn-2:hover {
    background-color: #fcce2d;
    color: black;
}

.arrow-left {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 255px;
    left: 60px;
}

.box-2 {
    width: 500px;
}

.box-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-position: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.right-arrow {
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 260px;
    right: 40px;
    cursor: pointer;
    transition: all 0..3s ease;
}

.right-arrow,
.arrow-left i {
    font-size: 25px;
}

section {
    padding-top: 50px;
    box-sizing: border-box;
}

.header-text {
    text-align: center;
}

.courses span {
    font-size: 40px;
    font-weight: bold;
    font-family: var(--main-font);
    color: #fcce2d;
}

.courses .header-2 {
    color: black;
}

.color {
    display: flex;
    justify-content: center;
}

.color-item {
    background-color: #fcce2d;
    width: 45px;
    border-radius: 40px;
    height: 15px;
    color: #fcce2d;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 250px 250px;
    gap: 30px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    font-family: var(--main-font);
    justify-content: center;
}

.course {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-1 {
    background-image: url(https://images.unsplash.com/photo-1461344577544-4e5dc9487184?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    filter: grayscale(50px);
}

.title-2 {
    background-image: url(https://images.unsplash.com/photo-1453847668862-487637052f8a?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    filter: contrast(50%);
}

.title-1:hover,
.title-2:hover {
    filter: contrast(100%);
}

.title-3 {
    background-image: url(https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.title-4 {
    background-image: url(https://images.unsplash.com/photo-1563807894768-f28bee0d37b6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.courses-text {
    display: none;
    transition: all 0.3s ease-in;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.course:hover .courses-text {
    display: block;
}

.course:hover {
    background-color: rgba(0, 0, 0, 0.815);
    background-blend-mode: overlay;
}

.about-header {
    font-size: 40px;
    font-weight: bold;
    font-family: var(--main-font);
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}

.about-summary {
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
}

.about-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    gap: 30px;
    padding-right: 112px;
    font-family: var(--main-font);
}

.item-left {
    width: 550px;
    height: 300px;
    border: 1px solid gray;
    padding: 20px 60px;
    box-sizing: border-box;
}

.date {
    font-size: 10x;
    font-weight: 400;
    color: gray;
    transition: all 0.3s ease;
    padding-bottom: 10px;
}

.item-left .bold {
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.left-item-summary {
    font-size: 16px;
    color: gray;
    transition: all 0.3s ease;
    padding-bottom: 20px;
}

.author-name {
    font-size: 10x;
    font-weight: 400;
    color: gray;
    transition: all 0.3s ease;
}

.item-right {
    width: 550px;
    height: 370px;
    box-sizing: border-box;
    border: none;
    background-image: url(/project-2/assets/about-right-item-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.plus-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fcce2d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    top: 40%;
    left: -30;
}

.blog {
    height: auto;
}

.blog-header {
    font-size: 40px;
    font-weight: bold;
    font-family: var(--main-font);
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}

.blog-summary {
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    padding-bottom: 50px;
    text-wrap: wrap;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 85%;
    margin: auto;
    padding: 20px 10px;
    gap: 20px;
    font-family: var(--main-font);
    border: 2px solid black;
}

.blog-box-bold-text {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.blog-footer-btn {
    padding-top: 60px;
    margin-left: 100px;
}

.blog-footer-btn a {
    text-decoration: none;
    padding: 17px 40px;
    background-color: #fcce2d;
    font-family: var(--main-font);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 50px;
    font-size: 15px;
    transition: all 0.3s ease-in;
}

.blog-footer-btn a:hover {
    background-color: black;
    color: #fff;
}

.testimonial {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: black;
    margin-top: 120px;
    padding: 60px 0px;
}

.testimonial-header {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
    padding-bottom: 50px;
}

.client-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 10px 220px;
    transition: all 0.3s ease-in;
    font-family: var(--main-font);
    position: relative;
}

.client-name {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--main-font);
    padding-bottom: 50px;
    box-sizing: border-box;
    color: #fff;
}

.client-summary {
    font-size: 1em;
    color: #fff;
    transition: all 0.3s ease-in;
}

.right-icon {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 120px;
    top: 100px;
    cursor: pointer;
}

.right-icon img {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
}

.left-icon {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 70px;
    top: 103px;
    cursor: pointer;
}

.left-icon img {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    gap: 500px;
    width: 100%;
    height: 30vh;
    font-family: var(--main-font);
}

.article-bold {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
}

.article-quote-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: black;
    padding: 13px 45px;
    box-sizing: border-box;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

.article-quote-btn a:hover {
    background-color: #fcce2d;
    color: black;
}

.article-summary {
    width: 84%;
    margin: auto;
    font-family: var(--main-font);
    padding-bottom: 100px;
}

.footer-images-container {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    box-sizing: border-box;
    gap: 0px;
    background-color: #000000;
    font-family: var(--main-font);
}

.image-box {
    border: none;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}

.image-left {
    background-image: url(https://images.unsplash.com/photo-1549383028-df014fa3a325?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0000005d;
    background-blend-mode: overlay;
}

.left-image-text {
    color: #fff;
    padding: 60px 200px;
    font-size: 25px;
}

.right-image {
    background-color: #797979;
    background-blend-mode: overlay;
    background-image: url(https://images.unsplash.com/photo-1516738901171-8eb4fc13bd20?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-page {
    height: 100vh;
    width: 100%;
    background-color: #292929;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    padding: 100px 20px;
}

.mail-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    transition: all 0.3 ease-in;

}

.subscribe a {
    text-decoration: none;
    font-family: var(--main-font);
    color: black;
    background-color: #fcce2d;
    padding: 14px 130px;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    transition: all 0.3s ease-in;
}

.subscribe a:hover {
    background-color: #fff;
}

.mail {
    width: 700px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail input {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 0px 20px;
    font-family: var(--main-font);
    outline: none;
    border: none;
    font-size: 17px;
    transition: all 0.3s ease-in;
}

.info-container {
    display: flex;
    height: 60vh;
    width: 85%;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    gap: 0px;
    font-family: var(--main-font);
    margin-top: 60px;
}

.info-box {
    height: 90%;
    width: 300px;
}

.calling-icon {
    padding: 4px 10px;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
}

.calling-number {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.phone-number a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in;
    font-family: var(--main-font);
}

.phone-number a:hover {
    color: #fcce2d;
}

.info-box-1 {
    padding: 100px 0px;
}

.info-box-2 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 20px 25px;
}

.information {
    color: #fff;
}

.info-header {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
    transition: all 0.3s ease-in;
}

.information h6 {
    font-weight: 400;
    font-size: 1em;
    transition: all 0.3s ease-in;
    padding-bottom: 20px;
}

.information h6 a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in;
}

.information h6 a:hover {
    color: #fcce2d;
}

.info-box-3 {
    border-right: 1px solid #fff;
    color: #fff;
    padding: 20px 25px;
    transition: all 0.3s ease-in;
}
.info-box-4{
    color: #fff;
    font-family: var(--main-font);
    font-size: 30px;
    padding: 100px 30px;
}
footer{
    font-family: var(--main-font);
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #f7f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}